@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', serif;
}

.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

div.bg {
    background: rgba(0, 0, 0, 0.8);
}

.top-right {
    float: right;
    margin: 15px;
}

.profile {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10vmin;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 0.1vmin;
    margin-bottom: 15px;
}

.dropdown-menu {
    display: block !important;
    right: 15px;
    left: auto;
}

.dropdown-item {
    font-size: 1.5vmin;
}

.game-card {
    float: left;
    margin: 15px;
}

.game-card-title {
    font-size: 1.7vmin;
    margin: 0px;
}

.game-card-subtitle {
    font-size: 1.4vmin;
}

.game-card>div>div>button {
    font-size: 1.4vmin;
}

.track-type-list {
    width: 140vmin;
}

.track-type-list>img {
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.track-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2vmin 0vw 5vmin 2.6vw;
}

.track-list>div>* {
    width: 14.75vw;
}

.track-list>div {
    margin: 0.5vw;
    cursor: pointer;
}

.banpick-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5vmin 0vw 2vmin 0vw;
    justify-content: center;
}

.banpick-list>* {
    width: 9.5vw;
}

.banpick-list>div {
    margin: 0.5vw;
}

.banpick-list>div>div,
.banpick-list>div>img {
    height: 5.5vw;
}

.banpick-list>.ban>div {
    background-color: rgba(255, 0, 0, 0.25);
}

.banpick-list>div>div,
.round-list>div>div {
    background-color: rgba(255, 255, 255, 0.5);
}

.track-list>div>p,
.banpick-list>div>p,
.round-list>div>p {
    font-size: 0.8vw;
    color: white;
    text-align: center;
    margin: auto;
}

.ban>img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.turn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 1vmin;
    font-size: 2vmin;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1vmin 2vmin;
    margin: 2vmin;
}

.score {
    font-size: 5vmin;
    color: white;
    text-align: center;
    margin: 1vmin 0vw 2vmin 0vw;
}

.round-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2vmin 0vw 5vmin 0vw;
    justify-content: center;
}

.round-list>* {
    width: 12vw;
}

.round-list>div {
    margin: 0.5vw;
}

.round-list>div>div,
.round-list>div>img {
    height: 7vw;
}

.current-round {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.current-round>div>img {
    width: 50vmin;
    height: 30vmin;
}

.current-round>div>p {
    font-size: 2.5vmin;
    color: white;
    text-align: center;
    margin: auto;
}

.bottom-left {
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 1vmin;
    font-size: 2vmin;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1vmin 2vmin;
    margin: 2vmin;
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2vmin;
}

.bottom-right>.btn {
    padding: 2.5vmin 4vmin !important;
    font-size: 2vmin !important;
    border-radius: 0 !important;
}

.avatar {
    border-radius: 50%;
    width: 4vmin;
    height: 4vmin;
}

.name {
    font-size: 1.8vmin;
    margin: auto;
    padding-left: 1vmin;
    padding-right: 1.5vmin;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}