@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', serif;
}

.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

div.bg {
    background: rgba(0, 0, 0, 0.8);
}

.top-right {
    float: right;
    margin: 15px;
}

.top-right>.btn {
    padding: 1vmin 2.5vmin !important;
    font-size: 1.5vmin !important;
    border-radius: 0 !important;
}

.game-card {
    float: left;
    margin: 15px;
}

.game-card-title {
    font-size: 1.7vmin;
    margin: 0px;
}

.game-card-subtitle {
    font-size: 1.4vmin;
}

.game-card>div>button {
    font-size: 1.4vmin;
}

.show-game-id {
    margin-left: 6vmin;
}

.open-game {
    margin-left: 14vmin;
}

.track-type-list {
    width: 140vmin;
}

.track-type-list>img {
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.track-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2vmin 0vw 5vmin 2.8vw;
}

.track-list>div>* {
    width: 14.75vw;
}

.track-list>div {
    margin: 0.5vw;
    cursor: pointer;
}

.banpick-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5vmin 0vw 2vmin 0vw;
    justify-content: center;
}

.banpick-list>* {
    width: 9.5vw;
}

.banpick-list>div {
    margin: 0.5vw;
}

.banpick-list>div>div,
.banpick-list>div>img {
    height: 5.5vw;
}

.banpick-list>.ban>div {
    background-color: rgba(255, 0, 0, 0.25);
}

.banpick-list>div>div {
    background-color: rgba(255, 255, 255, 0.5);
}

.track-list>div>p,
.banpick-list>div>p {
    font-size: 0.8vw;
    color: white;
    text-align: center;
    margin: auto;
}

.ban>img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}